### Implementing binary decision trees

In [3]:
import numpy as np
import pandas as pd

In [5]:
loans = pd.read_csv("lending-club-data.csv")

C:\Users\huodi\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Exploring data

In [7]:
loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,0.4,1.0,1.0,1.0,0,8.14350,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,0.8,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,1.0,0,8.25955,20141201T000000,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,0.2,1.0,1.0,1.0,0,8.27585,20141201T000000,0,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,0.8,1.0,1.0,1.0,0,5.21533,20141201T000000,1,1,1


The target column (label column) of the dataset that we are interested in is called `bad_loans`. In this column **1** means a risky (bad) loan **0** means a safe  loan.

In order to make this more intuitive and consistent with the lectures, we reassign the target to be:
* **+1** as a safe  loan, 
* **-1** as a risky (bad) loan. 

We put this in a new column called `safe_loans`.

In [9]:
loans["safe_loans"] = loans["bad_loans"].apply(lambda x: +1 if x ==0 else -1)

In [10]:
loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none,safe_loans
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,1.0,1.0,1.0,0,8.14350,20141201T000000,1,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1,-1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,0,8.25955,20141201T000000,1,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,1.0,1.0,1.0,0,8.27585,20141201T000000,0,1,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,1.0,1.0,1.0,0,5.21533,20141201T000000,1,1,1,1

Now, let us explore the distribution of the column `safe_loans`. This gives us a sense of how many safe and risky loans are present in the dataset.

In [19]:
print ("Percetage of Good Loans in input datasets is:")
print (round(sum(loans["safe_loans"] == +1)/len(loans),2))

Percetage of Good Loans in input datasets is:
0.81

In [21]:
print ("Percetage of Good Loans in input datasets is:")
print (round(sum(loans["safe_loans"] == -1)/len(loans),2))

Percetage of Good Loans in input datasets is:
0.19

### Features for the classification algorithm

In this assignment, we will be using a subset of features (categorical and numeric). The features we will be using are **described in the code comments** below. If you are a finance geek, the [LendingClub](https://www.lendingclub.com/) website has a lot more details about these features.

In [22]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                   # prediction target (y) (+1 means safe, -1 is risky)

In [23]:
loans[features + [target]]

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
0,B,B2,0,11,RENT,27.65,credit_card,36 months,1,1,83.70,0.00,1
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.40,0.00,-1
2,C,C5,0,11,RENT,8.72,small_business,36 months,1,1,98.50,0.00,1
3,C,C1,0,11,RENT,20.00,other,36 months,0,1,21.00,16.97,1
4,A,A4,0,4,RENT,11.20,wedding,36 months,1,1,28.30,0.00,1
5,E,E1,0,10,RENT,5.35,car,36 months,1,1,87.50,0.00,1
6,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.60,0.00,-1
7,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.50,0.00,-1
8,C,C3,0,6,OWN,16.12,debt_consolidation,60 months,1,1,20.60,0.00,1
9,B,B5,0,11,OWN,10.78,debt_consolidation,36 months,1,1,67.10,0.00,1
10,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.70,0.00,-1
11,B,B1,0,4,RENT,12.56,credit_card,36 months,1,1,43.10,0.00,1
12,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.50,0.00,-1
13,D,D1,1,1,RENT,20.31,debt_consolidation,36 months,1,1,81.50,0.00,1
14,C,C4,0,5,RENT,18.60,home_improvement,36 months,0,1,70.20,0.00,1
15,A,A1,0,11,MORTGAGE,10.52,major_purchase,36 months,1,1,16.00,0.00,1
16,B,B3,0,2,MORTGAGE,18.44,medical,36 months,0,1,37.73,15.00,1
17,A,A1,0,7,RENT,9.86,debt_consolidation,36 months,1,1,23.10,0.00,1
18,B,B4,0,11,RENT,13.22,debt_consolidation,36 months,1,1,90.30,0.00,-1
19,B,B3,0,11,OWN,11.18,credit_card,36 months,1,1,82.40,0.00,1
20,B,B3,0,6,RENT,16.01,debt_consolidation,36 months,1,1,91.80,0.00,1
21,B,B3,0,2,RENT,2.40,major_purchase,36 months,1,1,29.70,0.00,-1
22,B,B1,0,3,MORTGAGE,29.44,credit_card,36 months,1,1,93.90,0.00,1
23,C,C2,0,10,RENT,15.22,debt_consolidation,36 months,1,1,57.60,0.00,-1
24,D,D2,0,3,RENT,13.97,other,60 months,0,1,59.50,0.00,-1
25,B,B3,0,11,MORTGAGE,5.63,debt_consolidation,36 months,0,1,37.70,0.00,1
26,B,B3,1,1,RENT,12.19,credit_card,36 months,1,1,59.10,0.00,1
27,A,A3,0,8,MORTGAGE,20.34,debt_consolidation,36 months,1,1,86.90,0.00,1
28,A,A4,0,6,MORTGAGE,14.03,debt_consolidation,36 months,1,1,27.40,0.00,1
29,A,A5,0,3,RENT,11.93,debt_consolidation,36 months,0,1,29.30,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122577,A,A4,0,11,RENT,13.95,credit_card,36 months,1,1,48.00,0.00,1
122578,F,F2,0,7,MORTGAGE,13.85,small_business,60 months,1,1,61.20,0.00,1
122579,B,B2,0,9,MORTGAGE,9.63,debt_consolidation,36 months,0,1,59.20,0.00,1
122580,B,B5,0,2,RENT,27.75,debt_consolidation,36 months,1,1,83.60,0.00,-1
122581,C,C5,1,1,RENT,15.60,debt_consolidation,36 months,1,1,46.70,0.00,1
122582,D,D3,0,11,MORTGAGE,15.73,credit_card,60 months,0,1,36.60,0.00,1
122583,C,C4,1,1,RENT,18.09,debt_consolidation,36 months,0,1,0.00,0.00,-1
122584,C,C3,0,4,RENT,30.28,credit_card,36 months,0,1,43.60,0.00,1
122585,D,D5,0,7,OWN,23.58,debt_consolidation,60 months,0,1,51.60,0.00,1
122586,E,E2,0,4,MORTGAGE,22.83,medical,60 months,0,1,42.10,0.00,1
122587,C,C3,0,9,MORTGAGE,11.48,debt_consolidation,60 months,1,1,64.70,0.00,-1
122588,A,A5,0,4,OWN,7.57,debt_consolidation,36 months,1,1,34.40,0.00,1
122589,C,C1,0,11,MORTGAGE,7.13,credit_card,60 months,0,1,69.80,0.00,1
122590,B,B5,1,1,OWN,19.62,small_business,36 months,1,1,68.50,0.00,-1
122591,C,C3,0,4,MORTGAGE,14.02,credit_card,60 months,1,1,71.20,0.00,1
122592,B,B3,0,11,RENT,4.02,debt_consolidation,36 months,0,0,68.60,0.00,1
122593,E,E3,0,11,MORTGAGE,11.23,home_improvement,60 months,0,0,84.30,0.00,1
122594,C,C3,1,1,OWN,26.21,credit_card,36 months,1,1,28.40,0.00,-1
122595,C,C2,0,11,MORTGAGE,7.21,credit_card,60 months,1,1,29.80,0.00,1
122596,D,D1,0,11,MORTGAGE,19.56,debt_consolidation,36 months,0,1,52.50,0.00,-1
122597,E,E5,0,11,MORTGAGE,23.90,credit_card,60 months,0,1,57.00,0.00,1
122598,A,A5,0,3,MORTGAGE,14.60,medical,36 months,1,1,82.70,0.00,1
122599,G,G2,0,11,MORTGAGE,26.27,medical,60 months,0,0,94.10,0.00,1
122600,D,D3,1,1,RENT,6.41,other,36 months,0,1,55.90,0.00,1
122601,B,B5,0,5,MORTGAGE,18.69,debt_consolidation,36 months,0,1,29.50,0.00,-1
122602,E,E5,1,0,MORTGAGE,1.50,medical,60 months,0,0,14.60,0.00,-1
122603,D,D2,0,11,MORTGAGE,11.26,debt_consolidation,36 months,0,0,15.20,0.00,1
122604,D,D3,0,6,MORTGAGE,12.28,medical,60 months,0,0,10.70,0.00,-1
122605,D,D5,0,11,MORTGAGE,18.45,debt_consolidation,60 months,1,1,46.30,0.00,-1
122606,A,A4,0,4,OWN,5.39,credit_card,36 months,0,1,21.50,0.00,1

### Sample data to balance classes

As we explored above, our data is disproportionally full of safe loans.  Let's create two datasets: one with just the safe loans (`safe_loans_raw`) and one with just the risky loans (`risky_loans_raw`).

In [26]:
import json
with open ("module-5-assignment-1-train-idx.json", "r") as f:
    train_idx = json.load(f)
with open ("module-5-assignment-1-validation-idx.json", "r") as f:
    valid_idx = json.load(f)

In [27]:
train_data = loans.iloc[train_idx]

In [28]:
valid_data = loans.iloc[valid_idx]

### Build a decision tree classifier