## Simple Linear Regression

### Load house sales data

In [12]:
import pandas as pd
import numpy as np

In [13]:
house_data = pd.read_csv("kc_house_data.csv",dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})
train_data = pd.read_csv("kc_house_train_data.csv",dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})
test_data = pd.read_csv("kc_house_test_data.csv",dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [14]:
house_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [15]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [16]:
test_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0114101516,20140528T000000,310000.0,3.0,1.0,1430.0,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780.0,12697.0
1,9297300055,20150124T000000,650000.0,4.0,3.0,2950.0,5000,2,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140.0,4000.0
2,1202000200,20141103T000000,233000.0,3.0,2.0,1710.0,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030.0,4705.0
3,8562750320,20141110T000000,580500.0,3.0,2.5,2320.0,3980,2,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580.0,3980.0
4,7589200193,20141110T000000,535000.0,3.0,1.0,1090.0,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570.0,5080.0

### Split data into training and testing 






We use seed=0 so that everyone running this notebook gets the same results. In practice, you may set a random seed (or let GraphLab Create pick a random seed for you).

In [17]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(house_data, test_size = 0.2)

In [18]:
train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4759,7501000130,20140505T000000,800866.0,5.0,2.5,3180.0,13806,2,0,0,...,10,3180,0,1990,0,98033,47.6520,-122.182,3180.0,13798.0
16074,7457000005,20140926T000000,1220000.0,4.0,2.0,3090.0,8125,2.5,0,0,...,8,3090,0,1918,0,98117,47.6851,-122.395,1560.0,6250.0
12296,8856001090,20150130T000000,185900.0,3.0,1.0,940.0,10890,1,0,0,...,5,940,0,1909,0,98001,47.2763,-122.257,1370.0,10255.0
5781,2224079001,20150126T000000,625700.0,3.0,2.0,2570.0,159865,1,0,0,...,7,2570,0,1968,0,98024,47.5547,-121.892,2010.0,38322.0
17573,3432500210,20150326T000000,325000.0,2.0,1.0,1130.0,6908,1.5,0,0,...,6,1130,0,1945,0,98155,47.7450,-122.313,1150.0,6908.0


In order to make use of the closed form solution as well as take advantage of graphlab's built in functions we will review some important ones. In particular:

â€¢Computing the sum of an SArray

â€¢Computing the arithmetic average (mean) of an SArray

â€¢multiplying SArrays by constants

â€¢multiplying SArrays by other SArrays

In [30]:
prices = house_data['price']

In [31]:
avg_price = prices.sum()/len(price)

In [32]:
avg_price

540088.1417665294

In [33]:
# if we want to multiply every price by 0.5 it's a simple as:
half_prices = 0.5*prices
# Let's compute the sum of squares of price. We can multiply two SArrays of the same length elementwise also with *
prices_squared = prices*prices
sum_prices_squared = prices_squared.sum() # price_squared is an SArray of the squares and we want to add them up.
print ("the sum of price squared is: " + str(sum_prices_squared))

the sum of price squared is: 9217325138472052.0

### Build a generic simple linear regression function 






Armed with these SArray functions we can use the closed form solution found from lecture to compute the slope and intercept for a simple linear regression on observations stored as SArrays: input_feature, output.

Complete the following function (or write your own) to compute the simple linear regression slope and intercept:

In [34]:
def simple_linear_regression(input_feature, output):
    mean_xy = (input_feature*output).mean()

    mean_x = input_feature.mean()

    mean_y = output.mean()

    mean_x2 = (input_feature*input_feature).mean()

    numerator = mean_xy - mean_x*mean_y

    denominator = mean_x2 - mean_x*mean_x

    slope = numerator/denominator

    intercept = mean_y - slope*mean_x
    
    return (intercept, slope)





Now that we know it works let's build a regression model for predicting price based on sqft_living. Rembember that we train on train_data!

In [35]:
sqft_interscept, sqft_slope = simple_linear_regression (train_data["sqft_living"], train_data["price"])

In [36]:
sqft_interscept

-47116.07907289488

In [37]:
sqft_slope

281.95883963034294



### Predicting ValuesÂ¶ 






Now that we have the model parameters: intercept & slope we can make predictions. Using SArrays it's easy to multiply an SArray by a constant and add a constant value. Complete the following function to return the predicted output given the input_feature, slope and intercept:

In [38]:
def get_prediction(input_feature, slope, intercept):
    return input_feature*slope + intercept

Now that we can calculate a prediction given the slope and intercept let's make a prediction. Use (or alter) the following to find out the estimated price for a house with 2650 squarefeet according to the squarefeet model we estiamted above.

In [39]:
my_house_sqft = 2650

In [40]:
print (get_prediction(my_house_sqft, sqft_slope, sqft_interscept))

700074.8459475139





### Residual Sum of Squares 






Now that we have a model and can make predictions let's evaluate our model using Residual Sum of Squares (RSS). Recall that RSS is the sum of the squares of the residuals and the residuals is just a fancy word for the difference between the predicted output and the true output.

Complete the following (or write your own) function to compute the RSS of a simple linear regression model given the input_feature, output, intercept and slope:

In [46]:
def calculate_residual(input_feature, output, intercept, slope):
    diff = output - (input_feature*slope - intercept)
    RSS = diff ** 2
    return RSS.sum()

In [47]:
print (calculate_residual(train_data['sqft_living'], train_data['price'], sqft_interscept, sqft_slope))

1356283052524571.8

## Multiple Regression

The goal of this first notebook is to explore multiple regression and feature engineering with existing graphlab functions.

In this notebook you will use data on house sales in King County to predict prices using multiple regression. You will:

â€¢Use SFrames to do some feature engineering

â€¢Use built-in graphlab functions to compute the regression weights (coefficients/parameters)

â€¢Given the regression weights, predictors and outcome write a function to compute the Residual Sum of Squares

â€¢Look at coefficients and interpret their meanings

â€¢Evaluate multiple models via RSS


### Learning a multiple regression model

Recall we can use the following code to learn a multiple regression model predicting 'price' based on the following features: example_features = ['sqft_living', 'bedrooms', 'bathrooms'] on training data with the following code:

(Aside: We set validation_set = None to ensure that the results are always the same)

In [48]:
from sklearn import linear_model

In [49]:
x_features = train_data[ ['sqft_living', 'bedrooms', 'bathrooms']]

In [50]:
x_features.head()

   sqft_living  bedrooms  bathrooms
0       1180.0       3.0       1.00
1       2570.0       3.0       2.25
2        770.0       2.0       1.00
3       1960.0       4.0       3.00
4       1680.0       3.0       2.00

In [51]:
y = train_data["price"]

In [52]:
reg = linear_model.LinearRegression()

In [59]:
reg.fit(x_features, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [63]:
reg.coef_

array([   315.40669062, -65081.88711588,   6942.16598637])

In [64]:
reg.intercept_

87912.865814964112

In [68]:
reg.predict(train_data[ ['sqft_living', 'bedrooms', 'bathrooms']])[0]

271789.26537996973


### Compute RSSÂ¶


Now that we can make predictions given the model, let's write a function to compute the RSS of the model. Complete the function below to calculate RSS given the model, data, and the outcome.

In [70]:
def comput_rss(model, data, outcome):
    diff = model.predict(data) - outcome
    rss = diff ** 2
    return rss.sum()

In [71]:
print (comput_rss(reg, test_data[['sqft_living', 'bedrooms', 'bathrooms']], test_data["price"]))

273761940583134.03


### Create some new featuresÂ¶



Although we often think of multiple regression as including multiple different features (e.g. # of bedrooms, squarefeet, and # of bathrooms) but we can also consider transformations of existing features e.g. the log of the squarefeet or even "interaction" features such as the product of bedrooms and bathrooms.


You will use the logarithm function to create a new feature. so first you should import it from the math library.

In [90]:
from math import log

Next create the following 4 new features as column in both TEST and TRAIN data:

â€¢bedrooms_squared = bedrooms*bedrooms

â€¢bed_bath_rooms = bedrooms*bathrooms

â€¢log_sqft_living = log(sqft_living)

â€¢lat_plus_long = lat + long As an example here's the first one:

In [92]:
test_data["bedroom_squared"] = test_data["bedrooms"] * test_data["bedrooms"]
test_data["bed_bath_rooms"] = test_data["bedrooms"]*test_data["bathrooms"]
test_data["log_sqft_living"] = test_data["sqft_living"].apply(lambda x:log(x))
#sales['log_sqft_living'] = sales['sqft_living'].apply(lambda x: math.log(x))
#sales['lat_plus_long'] = sales['lat'] + sales['long']

In [93]:
test_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedroom_squared,bedrooms_squared_lamb,bed_bath_rooms,log_sqft_living
0,0114101516,20140528T000000,310000.0,3.0,1.0,1430.0,19901,1.5,0,0,...,0,98028,47.7558,-122.229,1780.0,12697.0,9.0,9.0,3.0,7.265430
1,9297300055,20150124T000000,650000.0,4.0,3.0,2950.0,5000,2,0,3,...,0,98126,47.5714,-122.375,2140.0,4000.0,16.0,16.0,12.0,7.989560
2,1202000200,20141103T000000,233000.0,3.0,2.0,1710.0,4697,1.5,0,0,...,0,98002,47.3048,-122.218,1030.0,4705.0,9.0,9.0,6.0,7.444249
3,8562750320,20141110T000000,580500.0,3.0,2.5,2320.0,3980,2,0,0,...,0,98027,47.5391,-122.070,2580.0,3980.0,9.0,9.0,7.5,7.749322
4,7589200193,20141110T000000,535000.0,3.0,1.0,1090.0,3000,1.5,0,0,...,0,98117,47.6889,-122.375,1570.0,5080.0,9.0,9.0,3.0,6.993933

Follow the same procedure to build new models with new features.

In [100]:
type(test_data["price"])

pandas.core.series.Series

In [101]:
type(test_data[["price"]])

pandas.core.frame.DataFrame

## Estimating Multiple Regression Coefficients (Gradient Descent)


### Convert to Numpy Array


Although SFrames offer a number of benefits to users (especially when using Big Data and built-in graphlab functions) in order to understand the details of the implementation of algorithms it's important to work with a library that allows for direct (and optimized) matrix operations. Numpy is a Python solution to work with matrices (or any multi-dimensional "array").

Recall that the predicted value given the weights and the features is just the dot product between the feature and weight vector. Similarly, if we put all of the features row-by-row in a matrix then the predicted value for all the observations can be computed by right multiplying the "feature matrix" by the "weight vector". 

First we need to take the SFrame of our data and convert it into a 2D numpy array (also called a matrix). To do this we use graphlab's built in .to_dataframe() which converts the SFrame into a Pandas (another python library) dataframe. We can then use Panda's .as_matrix() to convert the dataframe into a numpy matrix.

In [104]:
import numpy as np
import pandas as pd

In [105]:
house_data = pd.read_csv("kc_house_data.csv",dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})
train_data = pd.read_csv("kc_house_train_data.csv",dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})
test_data = pd.read_csv("kc_house_test_data.csv",dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

Next write a function that takes a data set, a list of features (e.g. [â€˜sqft_livingâ€™, â€˜bedroomsâ€™]), to be used as inputs, and a name of the output (e.g. â€˜priceâ€™). This function should return a features_matrix (2D array) consisting of first a column of ones followed by columns containing the values of the input features in the data set in the same order as the input list. It should also return an output_array which is an array of the values of the output in the data set (e.g. â€˜priceâ€™).

In [120]:
def get_numpy_data(data, features, output):
    data['constant'] = 1 

    features = ['constant'] + features
    #print(features)
    features_matrix = data[features].as_matrix(columns=None)
    #print(features_matrix)
    
    output_array = data[output].as_matrix(columns=None) 
    return(features_matrix, output_array)

For testing let's use the 'sqft_living' feature and a constant as our features and price as our output:

In [121]:
(example_features, example_output) = get_numpy_data(house_data, ['sqft_living'], 'price') # the [] around 'sqft_living' makes it a list
print (example_features[0,:]) # this accesses the first row of the data the ':' indicates 'all columns'
print (example_output[0]) # and the corresponding output

[  1.00000000e+00   1.18000000e+03]
221900.0


### Predicting output given regression weights



Suppose we had the weights [1.0, 1.0] and the features [1.0, 1180.0] and we wanted to compute the predicted output 1.0*1.0 + 1.0*1180.0 = 1181.0 this is the dot product between these two arrays. If they're numpy arrayws we can use np.dot() to compute this:

In [110]:
my_weights = np.array([1., 1.]) # the example weights
my_features = example_features[0,] # we'll use the first data point
predicted_value = np.dot(my_features, my_weights)
print(predicted_value)

1181.0

np.dot() also works when dealing with a matrix and a vector. Recall that the predictions from all the observations is just the RIGHT (as in weights on the right) dot product between the features matrix and the weights vector. With this in mind finish the following predict_output function to compute the predictions for an entire matrix of features given the matrix and the weights:

In [111]:
def predict_output(feature_matrix, weights):
    # assume feature_matrix is a numpy matrix containing the features as columns and weights is a corresponding numpy array
    # create the predictions vector by using np.dot()
    predictions = np.dot(feature_matrix, weights)
    return(predictions)

If you want to test your code run the following cell:

In [113]:
test_predictions = predict_output(example_features, my_weights)
print (test_predictions[0]) # should be 1181.0
print (test_predictions[1]) # should be 2571.0

1181.0
2571.0


### Computing the Derivative



We are now going to move to computing the derivative of the regression cost function. Recall that the cost function is the sum over the data points of the squared difference between an observed output and a predicted output.

Since the derivative of a sum is the sum of the derivatives we can compute the derivative for a single data point and then sum over data points. We can write the squared difference between the observed output and predicted output for a single point as follows:

(w[0]*[CONSTANT] + w[1]*[feature_1] + ... + w[i] *[feature_i] + ... + w[k]*[feature_k] - output)^2

Where we have k features and a constant. So the derivative with respect to weight w[i] by the chain rule is:

2*(w[0]*[CONSTANT] + w[1]*[feature_1] + ... + w[i] *[feature_i] + ... + w[k]*[feature_k] - output)* [feature_i]

The term inside the paranethesis is just the error (difference between prediction and output). So we can re-write this as:

2*error*[feature_i]

That is, the derivative for the weight for feature i is the sum (over data points) of 2 times the product of the error and the feature itself. In the case of the constant then this is just twice the sum of the errors!

Recall that twice the sum of the product of two vectors is just twice the dot product of the two vectors. Therefore the derivative for the weight for feature_i is just two times the dot product between the values of feature_i and the current errors. 

With this in mind complete the following derivative function which computes the derivative of the weight given the value of the feature (over all data points) and the errors (over all data points).

In [122]:
def feature_derivative(errors, feature):
    # Assume that errors and feature are both numpy arrays of the same length (number of data points)
    # compute twice the dot product of these vectors as 'derivative' and return the value
    errors = predictions - output
    derivative = 2* np.dot(errors,feature)
    return(derivative)

In [125]:
def regression_gradient_descent(feature_matrix, output, initial_weights, step_size, tolerance):
    converged = False 
    weights = np.array(initial_weights) # make sure it's a numpy array
    while not converged:
        # compute the predictions based on feature_matrix and weights using your predict_output() function
        prediction = np.dot(weights, feature_matrix)
        # compute the errors as predictions - output
        error = prediction - output
        gradient_sum_squares = 0 # initialize the gradient sum of squares
        # while we haven't reached the tolerance yet, update each feature's weight
        for i in range(len(weights)): # loop over each weight
            # Recall that feature_matrix[:, i] is the feature column associated with weights[i]
            # compute the derivative for weight[i]:
            deriicative = 2*np.dot(error, feature_matrix[:, i])
            
            # add the squared value of the derivative to the gradient sum of squares (for assessing convergence)
            gradient_sum_squares += derivative**2
            # subtract the step size times the derivative from the current weight
            weights[i] = weights[i] - step_size * derivative
        # compute the square-root of the gradient sum of squares to get the gradient magnitude:
        gradient_magnitude = sqrt(gradient_sum_squares)
        if gradient_magnitude < tolerance:
            converged = True
    return(weights)

A few things to note before we run the gradient descent. Since the gradient is a sum over all the data points and involves a product of an error and a feature the gradient itself will be very large since the features are large (squarefeet) and the output is large (prices). So while you might expect "tolerance" to be small, small is only relative to the size of the features. 

For similar reasons the step size will be much smaller than you might expect but this is because the gradient has such large values.


### Running the Gradient Descent as Simple RegressionÂ¶


Although the gradient descent is designed for multiple regression since the constant is now a feature we can use the gradient descent function to estimat the parameters in the simple regression on squarefeet. The folowing cell sets up the feature_matrix, output, initial weights and step size for the first model:

In [129]:
simple_features = ['sqft_living']
my_output = 'price'
(simple_feature_matrix, output) = get_numpy_data(train_data, simple_features, my_output)
initial_weights = np.array([-47000., 1.])
step_size = 7e-12
tolerance = 2.5e7

In [136]:
simple_feature_matrix

array([[  1.00000000e+00,   1.18000000e+03],
       [  1.00000000e+00,   2.57000000e+03],
       [  1.00000000e+00,   7.70000000e+02],
       ...,
       [  1.00000000e+00,   1.53000000e+03],
       [  1.00000000e+00,   1.60000000e+03],
       [  1.00000000e+00,   1.02000000e+03]])

In [134]:
len(output)

17384

In [128]:
simple_weights = regression_gradient_descent(simple_feature_matrix, output,initial_weights, step_size, tolerance)

ValueError: shapes (2,) and (17384,2) not aligned: 2 (dim 0) != 17384 (dim 0)